TOKEN=YOUR_BOT_TOKEN_HERE
PREFIX=YOUR_BOT_PREFIX_HERE
INVITE_LINK=YOUR_BOT_INVITE_LINK_HERE
GUILD_ID=YOUR_DISCORD_SERVER_ID_HERE
ANONYMOUS_AUDIT_LOG_CHANNEL_ID=SERVER_CHANNEL_FOR_LOGGING_ANONYMOUS_MESSAGES
OWNER_COMMAND_LOG_CHANNEL_ID=SERVER_CHANNEL_FOR_LOGGING_OWNER_COMMANDS
